---
import Layout from "../layouts/Layout.astro"
import Navigation from '@/components/navigation.jsx';
---

<Layout title="Houston" description="Houston" ogimage="https://houston.seline.so/og.png">
	<div class="container mx-auto pt-3">
		<Navigation client:only />
	</div>
</Layout>